@model WorkAtHeightPermit

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="~/css/Height.css" asp-append-version="true" />
</head>
<body>
<form method="post" class="container my-4">

    <link rel="stylesheet" href="~/css/Height.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="card shadow">
        <l class="card permit-card">
            <div class="card-header text-center fw-bold">
                WORK AT HEIGHT PERMIT
            </div>

            <div class="card-body">

                <!-- BASIC DETAILS -->
                <div class="section-title">Basic Details</div>
                <div class="row g-3">
                    <div class="col-md-3"><label>Unit</label>@Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })</div>
                    <div class="col-md-3"><label>Contractor</label>@Html.TextBoxFor(m => m.ContractorTeam, new { @class = "form-control" })</div>
                    <div class="col-md-3"><label>Location</label>@Html.TextBoxFor(m => m.Location, new { @class = "form-control" })</div>
                    <div class="col-md-3"><label>No of Workmen</label>@Html.TextBoxFor(m => m.NoOfWorkmen, new { @class = "form-control" })</div>
                </div>

                <!-- DATE & TIME -->
                <div class="section-title mt-4">Date & Time</div>
                <div class="row g-3">
                    <div class="col-md-3"><label>Starting Date</label>@Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })</div>
                    <div class="col-md-3"><label>Starting time</label>@Html.TextBoxFor(m => m.StartTime, new { type = "time", @class = "form-control" })</div>
                    <div class="col-md-3"><label>Expected Date</label>@Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })</div>
                    <div class="col-md-3"><label>Ecpected time</label>@Html.TextBoxFor(m => m.EndTime, new { type = "time", @class = "form-control" })</div>
                </div>

                <!-- WORK TYPE -->
                <div class="section-title mt-4">Work Type</div>
                <div class="row">
                    <div class="col">@Html.CheckBoxFor(m => m.Scaffolding) Scaffolding</div>
                    <div class="col">@Html.CheckBoxFor(m => m.Ladder) Ladder</div>
                    <div class="col">@Html.CheckBoxFor(m => m.AerialLift) Aerial Lift</div>
                    <div class="col">@Html.CheckBoxFor(m => m.RoofWork) Roof Work</div>
                    <div class="col-md-4">Other <input type="text" name="OtherWorkType" class="form-control" /></div>
                </div>

                <!-- DESCRIPTION -->
                <div class="section-title mt-4">Work Description</div>
                @Html.TextAreaFor(m => m.WorkDescription, 3, 100, new { @class = "form-control" })

                <!-- TOOLS -->
                <div class="section-title mt-4">Tools / Equipment</div>
                @Html.TextAreaFor(m => m.ToolsEquipment, 2, 100, new { @class = "form-control" })

                <!-- RISK IDENTIFICATION -->
                <div class="section-title mt-4">Identify Risk Associated with Work at Height</div>
                <div class="row">
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskFallHeight) Fall from Height</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskWeather) Adverse Weather</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskFlyingParticles) Flying Particles</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskMovingVehicle) Moving Vehicle/Equipment</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskFallingObjects) Falling Debris/Objects</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskProtrudingParts) Protruding Objects/parts</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskTripping) Tripping / Slipping</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskFaultyEquipment) Faulty Equipment/Material</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskFragileSurface) Fragile Surface/Roof</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskWorkingBelow) Work Under Below</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskNearOverheadLines) Near Overhead Lines</div>
                    <div class="col-md-4">@Html.CheckBoxFor(m => m.RiskNonEnergizedEquipment) Near Energized Equipment</div>
                    <div class="col-md-4">Others <input type="text" name="OtherRisk" class="form-control" /></div>
                </div>

                <!-- DOCUMENTS -->

                <div class="section-title mt-4">Documents to Attach</div>
               
                    <div class="row g-3 align-items-end">

                        <div class="col-md-4">
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.AttachJSA, new { @class = "form-check-input", id = "jsa" })
                                <label class="form-check-label" for="jsa">JSA</label>
                            </div>

                            <div id="jsaList" style="display:none; max-height:150px; overflow-y:auto; border:1px solid #ccc; padding:8px;">

                                <div><input type="checkbox" id="jsa_cutting"> Cutting machine</div>
                                <div><input type="checkbox" id="jsa_excavation"> Excavation</div>
                                <div><input type="checkbox" id="jsa_welding"> Welding</div>
                                <div><input type="checkbox" id="jsa_electrical"> Electrical Work</div>
                                <div><input type="checkbox" id="jsa_Height"> Height Work</div>
                                <div><input type="checkbox" id="jsa_plumbing"> plumbing</div>
                                <div><input type="checkbox" id="jsa_cable"> cable Routing</div>
                                <div><input type="checkbox" id="jsa_Lifting"> Lifting</div>
                                <div><input type="checkbox" id="jsa_Machine"> Machine maintenance</div>





                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-4">Others <input type="text" class="form-control" /></div>
             
        </l>
        <!-- SECTION: PRECAUTION -->
        <section class="card permit-card">
            <div class="section-title">Precaution measures required to complete the work safely</div>

            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.Precaution, "Yes", new { @class = "form-check-input" })
                    <label class="form-check-label">Yes</label>
                </div>

                <div class="form-check">
                    @Html.RadioButtonFor(m => m.Precaution, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>

                <div class="form-check">
                    @Html.RadioButtonFor(m => m.Precaution, "N/A", new { @class = "form-check-input" })
                    <label class="form-check-label">N/A</label>
                </div>
            </div>
        </section>


        <!-- RISK CONTROL -->
        <section class="card permit-card">
            <div class="section-title">
                Have the risk control/s been implemented
            </div>

            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.Riskcontrol, "Yes", new { @class = "form-check-input" })
                    <label class="form-check-label">Yes</label>
                </div>

                <div class="form-check">
                    @Html.RadioButtonFor(m => m.Riskcontrol, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>
            </div>


            <!-- SECTION: PRECAUTION -->

            <div class="section-title">Fall Protection</div>

            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.GuardRailsSystem, new { @class = "form-check-input" })
                    <label class="form-check-label">Guard Rails System</label>
                </div>

                <div class="form-check">
                    @Html.CheckBoxFor(m => m.SafetyNet, new { @class = "form-check-input" })
                    <label class="form-check-label">Safety Net</label>
                </div>

                <div class="form-check">
                    @Html.CheckBoxFor(m => m.ToeBoard, new { @class = "form-check-input" })
                    <label class="form-check-label">Toe Board</label>
                </div>
            </div>


            <div class="section-title">Fall Restraint</div>

            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.LifeLine, new { @class = "form-check-input" })
                    <label class="form-check-label">Life Line</label>
                </div>

                <div class="form-check">
                    @Html.CheckBoxFor(m => m.RetractableHarness, new { @class = "form-check-input" })
                    <label class="form-check-label">Retractable Harness</label>
                </div>
            </div>


            <div class="section-title"> Fall Arrest</div>
            <div class="form-check form-check-inline">
                <div class="col-md-4">@Html.CheckBoxFor(m => m.HarnessShockAbsorber)Harness with Shock Absorber & Double Hook</div>
            </div>

            <div class="section-title">Have proper access/egress been provided?</div>
            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.AccessProvided, "Yes", new { @class = "form-check-input" })
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.AccessProvided, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <div class="section-title">Is wind speed greater than 32 km/h?</div>
            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.WindGreater32, "Yes", new { @class = "form-check-input" })
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.WindGreater32, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <div class="section-title">Are floor openings covered?</div>
            <div class="d-flex gap-3">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.FloorOpeningsCovered, "Yes", new { @class = "form-check-input" })
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.FloorOpeningsCovered, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <div class="section-title">Scaffold inspected by Certified Person?</div>
            <div class="d-flex gap-3 align-items-center">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.ScaffoldCertified, "Yes", new { @class = "form-check-input" })
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.ScaffoldCertified, "No", new { @class = "form-check-input" })
                    <label class="form-check-label">No</label>
                </div>
                <div class="form-check d-flex align-items-center">
                    <label class="form-check-label me-2 mb-0">Others</label>
                    <input type="text" name="OtherRisk" class="form-control" style="width: 300px;" />
                </div>
            </div>



        </section>


        <!-- INSPECTION -->
        <section class="card permit-card">
            <fieldset>
                <div class="section-title">
                    Inspection by Issuer / Receiver
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="DangerWarningSign" />
                            <label class="form-check-label">Danger/Warning Sign</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="ScaffoldTagSystem" />
                            <label class="form-check-label">Scaffold Tag System</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="Lighting" />
                            <label class="form-check-label">Lighting</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="SafetyBarriers" />
                            <label class="form-check-label">Safety Barriers</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="BuddySystem" />
                            <label class="form-check-label">Buddy System</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="Rescue" />
                            <label class="form-check-label">Rescue</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="MaterialBasket" />
                            <label class="form-check-label">Material Basket</label>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label>Others</label>
                        <input type="text" name="OtherInspection" class="form-control" />
                    </div>
                </div>
            </fieldset>







            <!-- PPE -->
            <div class="section-title mt-4">PPE Required</div>
            <div class="row">
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEHelmet) Helmet with Chin strap</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEHelmetChinStrap) Safety goggles</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEShoes) Safety Shoes</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEGloves)Safety  Gloves</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEGloves)Safety Ear Plugs/muff</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEGloves)Reflective Vest</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEGloves)Dust Mask</div>
                <div class="col-md-4">@Html.CheckBoxFor(m => m.PPEGloves)Safety clothes</div>
                <div class="col-md-4">Others <input type="text" name="OtherRisk" class="form-control" /></div>
            </div>


            <!-- INSURANCE COPY -->
            <div class="section-title">Insurance copy available for workmen:</div>
            <div class="row align-items-center g-3">
                    <div class="col-auto">
                        <div class="form-check">
                            @Html.CheckBoxFor(m => m.WC, new { @class = "form-check-input", id = "wc" })
                            <label class="form-check-label">WC</label>
                        </div>

                        <div id="wcUpload" style="display:none; margin-top:5px;">
                            <input type="file" name="WCFile" id="wcFile"
                                   class="form-control form-control-sm"
                                   style="background: #f4f7fb; border:1px solid #000;" />
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="form-check">
                            @Html.CheckBoxFor(m => m.ESI, new { @class = "form-check-input", id = "esi" })
                            <label class="form-check-label">ESI</label>
                        </div>

                        <div id="esiUpload" style="display:none; margin-top:5px;">
                            <input type="file" name="ESIFile" id="esiFile"
                                   class="form-control form-control-sm"
                                   style="background: #f4f7fb; border:1px solid #000;" />
                        </div>
                    </div>

                <div class="col-auto">
                    <label>Others</label>
                    <input type="text" name="OtherInsurance" class="form-control" style="display:inline-block; width:auto;" />
                </div>
            </div>


            <!-- AUTHORIZATION -->
            <div class="section-title mt-4">Authorization</div>
            <div class="row g-3">
                <div class="col-md-6"> <label>Permit Receiver name</label>@Html.TextBoxFor(m => m.ReceiverName, new { @class = "form-control" })</div>
                <div class="col-md-3"> <label>Receiver Date</label>@Html.TextBoxFor(m => m.ReceiverDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })</div>

            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label>Permit Issuer name</label>@Html.TextBoxFor(m => m.IssuerName, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Issuer Date</label>@Html.TextBoxFor(m => m.IssuerDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>

            <!-- SUSPENSION -->

            <div class="section-title">Suspension</div>
            <label>This permit is suspended, area/equipment is not safe to use.</label>
            <div class="row g-3 mt-2">
                <div class="col-md-6">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.SuspensionName, new { @class = "form-control" })
                </div>

                <div class="col-md-6">
                    <label>Date</label>
                    <div class="col-md-6">@Html.TextBoxFor(m => m.SuspensionSignatureDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })</div>

                </div>
            </div>

            <!-- Approver Details -->

            <div class="section-title">Approver Details</div>

            <div class="col-lg-3">
                <label>Approver One Email</label>
                @Html.TextBoxFor(m => m.ApproverOne, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                <label>Approver Two Email</label>
                @Html.TextBoxFor(m => m.ApproverTwo, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                <label>Approver Three Email</label>
                @Html.TextBoxFor(m => m.ApproverThree, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                <label>Approver Four Email</label>
                @Html.TextBoxFor(m => m.ApproverFour, new { @class = "form-control" })
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success px-5">Submit Permit</button>
            </div>
        </section>
    </div>
    </div>
</form>
</body>
</html>
